@model TasksSystem.Models.DecryptedUser

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DecryptedFirstName" class="control-label"></label>
                <input asp-for="DecryptedFirstName" class="form-control" />
                <span asp-validation-for="DecryptedFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DecryptedLastName" class="control-label"></label>
                <input asp-for="DecryptedLastName" class="form-control" />
                <span asp-validation-for="DecryptedLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <input asp-for="Role" class="form-control" />
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthday" class="control-label"></label>
                <input asp-for="Birthday" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DecryptedComment" class="control-label"></label>
                <input asp-for="DecryptedComment" class="form-control" />
                <span asp-validation-for="DecryptedComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

 